 <%= render "layouts/header" %>

<div class="container">  <!-- この行を追加 -->
  <div class="row"> 
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
      <div class="about">
        <h1 class="text-center">About</h1>
      </div>
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      <div class="about_text">
        <h3  class="text-center">
        ながのCakeは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
        </h3>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
  <div class="about_image">
    <%= %>
  </div>
